@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Bungee&display=swap');

body {
    font-family: 'Cabin';
    text-align: center;
    background: linear-gradient(to right, #0b95ea, #15d3c3);
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    font-family: 'Bitcount Single';
    background-color: rgb(2, 94, 125);
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    font-family: "Bungee";
    display: flex; 
    align-items: center; 
    cursor: pointer;
    
}

.stats-container:hover {
    box-shadow: "0 0 30px lightblue"
}

.stats-card {
    background: linear-gradient(to left, #ffFFFF, #f3f5ca);
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    animate: pulse,
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background: radial-gradient(circle, #FFFFFF, #15d3c3);
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 50px lightblue;
}

#button-container {
    text-align: center;
}

button {
    background-color: #c45fec;
    font-family: 'Bitcount Single';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

.button-heading {
    
    text-align: center;
    font-family: 'Cabin';
}

.search-container {
    margin: 20px 0;
    text-align: center;
}


#game-search {
    padding: 10px 15px;
    width: 300px;
    border-radius: 20px;
    border: 2px solid #ddd;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#game-search:focus {
    border-color: #000000;
    
}